@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground bg-background;
  }
  label > span {
    @apply text-muted-foreground text-sm md:text-base;
  }
  input,
  textarea {
    @apply hover:bg-input/10 focus:outline-ring text-res-sm my-2 w-full resize-none rounded-md border bg-transparent px-3 py-2 shadow-sm;
  }
  input:disabled,
  textarea:disabled {
    @apply bg-muted/70 text-muted-foreground pointer-events-none cursor-not-allowed;
  }
  .card {
    @apply bg-card/70 text-card-foreground w-full rounded-2xl border p-4 shadow-md backdrop-blur-sm md:p-5;
  }
  .button {
    @apply bg-primary text-primary-foreground hover:bg-primary/90 dark:bg-accent dark:text-accent-foreground text-res-xs dark:hover:bg-accent/90 flex items-center justify-center gap-2 rounded-lg px-3 py-1.5 font-semibold shadow-sm transition-colors;
  }
  .button:disabled {
    @apply disabled:bg-muted/70 disabled:text-muted-foreground pointer-events-none cursor-not-allowed;
  }
  .button[type="reset"] {
    @apply hover:bg-destructive hover:text-destructive-foreground text-foreground bg-transparent;
  }
  .link {
    @apply text-primary text-res-xs bg-accent flex items-center gap-2 rounded-md px-3 py-1.5 font-semibold transition-colors hover:underline;
  }
}
