@font-face {
  font-family: "Avenir Next";
  src: "/src/lib/Avenir Next.ttc";
}

:root {
  --header-bg: hsl(240 4.8% 95.9%);
}

.dark {
  --header-bg: hsl(240 3.7% 15.9%);
}

html {
  @media print {
    font-size: 13px;
  }
}

.print-target {
  @media print {
    margin: 24px;
    padding: 24px;
  }
}

.avenir-next {
  font-family: "Avenir Next", sans-serif;
}

#resume {
  position: relative;
  width: 100%;
  aspect-ratio: 1000/1414;
}

.resume-header-bg {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  padding: 1.5rem;
  background-color: var(--header-bg);
  @media print {
    height: 10.5rem;
  }
}

.resume-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  max-width: 100%;
  padding-block: 0.35rem;
}

.resume-main {
  display: flex;
  flex-direction: column;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  row-gap: 2.5rem;
}

.resume-header-h1 {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1;
}

.resume-header-p {
  padding-left: 0.25rem;
  font-weight: 600;
}

.resume-section {
  padding-bottom: 1rem;
}

.resume-section-h2 {
  padding-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.resume-section-div {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.resume-section-div-p {
  padding-bottom: 0.5rem;
}

.resume-section-div-p-r {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.resume-section-div-p-r {
  font-weight: 600;
}

.resume-section-div-p-r-p {
  font-weight: 600;
  text-align: right;
}

.resume-section-div-p-r-h3 {
  font-weight: 600;
}

.hyphenate {
  hyphens: auto;
}

.resume-aside {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.resume-image {
  margin-top: -0.25rem;
  width: 190px;
  height: 190px;
  aspect-ratio: 1 / 1;
  border-radius: 9999px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  margin-inline: auto;
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
}

.resume-section-div-p-r-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resume-download-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 0.375rem;
  padding-right: 0.75rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  background-color: hsl(240 5.9% 10%);
  color: hsl(0 0% 98%);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1rem;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border-radius: 0.5rem;

  background-color: hsl(240 4.8% 95.9% / 0.9);

  color: hsl(240 5.9% 10%);

  :hover {
    background-color: hsl(240 5.9% 10% / 0.9);
  }
}

.resume-section-div-p-r-a {
  font-weight: 400;
  text-decoration: underline;
  transition: color 0.15s ease-in-out;

  :hover {
    color: hsl(206, 48%, 53%);
  }
}
